*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



header{
    font-family:sans-serif;
    font-size: medium;
    margin: 10px 10px 0px 10px;
    background-color: rgb(119, 105, 105);
    width: 100%;
}
header:hover{
    background: rgb(126, 98, 87);
    color: white;
}





.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3e8b44;
    padding: 10px;
  }
  .navbar:hover {
     background: rgb(119, 86, 74);
     color: #fff;


  }
  
 
  .navbar-logo h1 {
    position: absolute;
    top: 50px;
    margin-bottom: 0px;

  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333;
    margin: 16px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333;
    margin-bottom: 6px;
  }
  







.logo{
    display: flex;
    justify-content: flex-start;
   flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 15%;
    padding: 10px;
}
#logo-image{
    width: 10vw;
    height: auto;
}
h1{
    color:lightcoral;
    text-align: left;
    
}


h1{
    position: absolute;
    left: 165px;
    cursor: pointer;
}
h1:hover{
    color: white;
}


a:link{ 
    color :white;
    

}

a:visited{ 
    color :rgb(151, 144, 141)

}

a:hover{
     color :white;
    text-decoration: underline;
    background:#7a5858;

}
a:focus{
    color :rgb(216, 64, 9)
}
a:active{ color :rgb(233, 71, 13)

}











hr{
    color: rgb(196, 194, 191);
}

main{
    margin:-33px 10px 0px;
    padding: 10;
    border: 1px  rgb(17, 7, 7);
    background-color: rgb(119, 105, 105);
    width: 100%;
}
main:hover{
    background: #7a5858;
    color: #fff;
    transform: translateY(-5px);
}
#Phot:hover{
    transform: translateY(-10px);
}

.main div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

h5{
    visibility: hidden;
}


h3,h4{
    color : black;
    text-align: center;
}
main p{
    color: white;
    margin: 15px;
    padding: 20px;
    font-size: medium;
}


.formClassName div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

h4+div p span{
    color: rgb(0, 0, 0);
}
h4+div{
    
    text-align: left;
    margin-left: 25px;
    padding: 30px;
    

}

.contact-form{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 6px;
    flex-basis: 40%;
}
form label {
    display: block;
    margin-top: 10px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  form button {
    margin-top: 10px;
  }



footer{
    margin: -33px 10px 20px;
    padding: 10px;
    border:1px solid black;
    background-color: lightslategray;
    list-style-type: none;
    width: 100%;
}

.footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
   
}
footer p {
    visibility: hidden;
}

.footer div nav ul li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: None;
    padding: 10px 16px;
    margin: 10px;
    
    
}
footer:hover{
    background: #7a5858;
    color: #fff;
    transform: translateY(-5px);
}


footer div img{
    display: inline;
    width: 100px;
    height: 100px;
    font-weight: 60px;
    width: 30px;
    height: 30px;
    border-radius: 13px;
    vertical-align: middle;
}

footer div nav ul li a img{
    align-items: start;
    text-align: left;
    margin-left: 20px;
    padding: 5px;
}

span{
    margin: 25px;
    align-self: center;
    border-radius: 10px;
    padding-bottom: 3px;
    background-color: white;
    color:black;
    cursor: pointer;
}


main div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    
    

}
main div img{
    object-fit: cover;
    width: 80vw;
    height: 100vh;
    margin: 10px;
    align-self: center;
    border-radius: 25px;
}

h5{
    color: chocolate;
    margin: 20px;
}


.footer div a{
    text-decoration: none;
    color: rgb(49, 43, 43);
    font-weight: 50px;
    font-style: bold;
}











/* -----media queries css section for each devices---- */










/* ----for mobile---- */
@media only screen and (min-width:320px) and (max-width: 767px) {
    *{
        background-color: #fff0;
        color: #fff;
    }
    body {
      font-size: 14px;
     
    }
    header> div{
        display: flex;
        flex-wrap: wrap;
    }
    header h1{
        margin: 0;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        left: 0px;
    }
    
    .navbar-menu {
        display: none;
      }
    
      .navbar-toggle {
        display: block;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(2) {
        opacity: 0;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    h1:hover{
        color: white;

    }
    .navbar{
        display: none;
        
    }
   
    .menu-icon{
        color:white;
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
    }
    .menu-icon:hover{
        color: red;
    }
    main #Phot{
        margin: 0px 10px;
    }
  }
    




  /* ----- for mobile portrait ------- */
  @media only screen and (max-width: 479px) {
    *{
        color: black ;
        background: white;
    }
    .menu-icon{
        display: none;
    }



    
  }









  /* -------style for the tablet  */


 @media only screen and (min-width:768px) and (max-width:991px){
    
    .navbar-menu {
        display: none;
      }
    
      .navbar-toggle {
        display: block;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(2) {
        opacity: 0;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
   
    .menu-icon{
        color:white;
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
    }
    .menu-icon:hover{
        color: red;
    }

 }


/* ----- for the laptop and desktop browsers------  */
@media only screen and (min-width:992px){
.menu-icon{
    display: none;
}
}
