*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}





header{
    font-family:sans-serif;
    font-size: medium;
    margin: 15px 20px 0 10px;
    background-color: rgb(119, 105, 105);
    width: 100%;
}
header:hover{
    background: rgb(126, 98, 87);
    color: white;
}





.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3e8b44;
    padding: 10px;
  }
  .navbar:hover {
     background: rgb(119, 86, 74);
     color: #fff;


  }
  
 
  .navbar-logo h1 {
    position: absolute;
    top: 50px;
    margin-bottom: 0px;

  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333;
    margin: 16px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333;
    margin-bottom: 6px;
  }
  







.logo{
    display: flex;
    justify-content: flex-start;
   flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 15%;
    padding: 10px;
}
#logo-image{
    width: 10vw;
    height: auto;
}
h1{
    color:lightcoral;
    text-align: left;
    
}


h1{
    position: absolute;
    left: 165px;
    cursor: pointer;
}
h1:hover{
    color: white;
}


a:link{ 
    color :white;
    

}

a:visited{ 
    color :rgb(151, 144, 141)

}

a:hover{
     color :white;
    text-decoration: underline;
    background:#7a5858;

}
a:focus{
    color :rgb(216, 64, 9)
}
a:active{ color :rgb(233, 71, 13)

}










.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    border: none;
    
    
}
.main p{
    margin: 20px;
    padding: 16px;
    font-family: verdana;
}
h3{
    margin: 350px;
    color: black;
    align-items: center;
}

hr{
    display: none;

}




main{
    margin: 0px 10px;
    padding: 0px 10px;
    border: 1px solid black;
    background-color: rgb(119, 105, 105)
}
main:hover{
    background: #7a5858;
    color: #fff;
    transform: translateY(-5px);
}

footer{
    margin: 0px 10px 20px;
    padding: 10px;
    border:1px solid black;
    background-color: lightslategray;
    list-style-type: none;
}
footer p{
    visibility: hidden;
}


.footer div nav ul li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: None;
    padding: 10px 16px;
    margin: 10px;
    
    
}


footer div img{
    display: inline;
    width: 100px;
    height: 100px;
    font-weight: 60px;
    width: 30px;
    height: 30px;
    border-radius: 13px;
    vertical-align: middle;
}

footer div nav ul li a img{
    align-items: start;
    text-align: left;
    margin-left: 20px;
    padding: 5px;
}
footer:hover{
    background: #7a5858;
    color: #fff;
    transform: translateY(-5px);
}

span{
    align-self: center;
    border-radius: 10px;
    padding-bottom: 3px;
    background-color: #7a5858;
    color:lightcoral;
    cursor: pointer;
}








/* -----media queries css section for each devices---- */










/* ----for mobile---- */
@media only screen and (min-width:320px) and (max-width: 767px) {
    *{
        background-color: #fff0;
        color: #fff;
    }
    body {
      font-size: 14px;
     
    }
    header> div{
        display: flex;
        flex-wrap: wrap;
    }
    header h1{
        margin: 0;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        left: 0px;
    }
    
    .navbar-menu {
        display: none;
      }
    
      .navbar-toggle {
        display: block;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(2) {
        opacity: 0;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    h1:hover{
        color: white;

    }
    .navbar{
        display: none;
        
    }
   
    .menu-icon{
        color:white;
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
    }
    .menu-icon:hover{
        color: red;
    }
  }
    




  /* ----- for mobile portrait ------- */
  @media only screen and (max-width: 479px) {
    *{
        color: black ;
        background: white;
    }

.menu-icon{
    display: none;
}
body{
    font-size: 10px;
    background: white;
    color: lightpink;
}

    
  }









  /* -------style for the tablet  */


 @media only screen and (min-width:768px) and (max-width:991px){
    .navbar{
        display: none;
        
    }
    
    .navbar-menu {
        display: none;
      }
    
      .navbar-toggle {
        display: block;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(2) {
        opacity: 0;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
   
    .menu-icon{
        color:white;
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
    }
    .menu-icon:hover{
        color: red;
    }
    body{
        background: yellow;
        color: white;
    }

 }


/* ----- for the laptop and desktop browsers------  */
@media only screen and (min-width:992px){

    .menu-icon{
        display: none;
    }
}