*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}






header{
    font-family:sans-serif;
    font-size: medium;
    margin: 10px 10px 0px 10px;
    background-color: rgb(119, 105, 105);
    width: 100%;
}
header:hover{
    background: rgb(126, 98, 87);
    color: white;
}

h4:hover{
    background: #333;
    color: chocolate;
}




.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3e8b44;
    padding: 10px;
  }
  .navbar:hover {
     background: rgb(119, 86, 74);
     color: #fff;


  }
  
 
  .navbar-logo h1 {
    position: absolute;
    top: 50px;
    margin-bottom: 0px;

  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333;
    margin: 16px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333;
    margin-bottom: 6px;
  }
  







.logo{
    display: flex;
    justify-content: flex-start;
   flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 15%;
    padding: 10px;
}
#logo-image{
    width: 10vw;
    height: auto;
}
h1{
    color:lightcoral;
    text-align: left;
    
}


h1{
    position: absolute;
    left: 165px;
    cursor: pointer;
}
h1:hover{
    color: white;
}


a:link{ 
    color :white;
    

}

a:visited{ 
    color :rgb(151, 144, 141)

}

a:hover{
     color :white;
    text-decoration: underline;
    background:#7a5858;

}
a:focus{
    color :rgb(216, 64, 9)
}
a:active{ color :rgb(233, 71, 13)

}













main{
    margin: 0px 10px;
    padding: 10;
    background-color: rgb(119, 105, 105);
    width: 100%;
}
main:hover{ 
    color:white;
    background: #7a5858;
    transform: translateY(-10px);
}
h2:hover{
    color:white;
    background: black;
}
h2{
    color: black;
}
em{
    color: chocolate;
}
em:hover{
    text-decoration: underline;
}
    
.question h2{ 
    margin: 30px;
}
main ul li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}


.expanation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 30px 50px ;
    height: 30vh;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    margin: 12px ;
    

}
.column-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 30%;
    margin: 5;
    width: 200px;
    height: auto;
    color: rgb(21, 230, 202);
   
}
.column-1:hover{
    color:white;
    transform: translateY(-5px);
}

.column-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 30%;
    margin: 5;
    width: 200px;
    height: auto;
    color: darksalmon;

}
.column-2:hover{
    color:white;
    transform: translateY(-5px);
}





/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    display: none; 
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li a {
    color: #b11010;
    text-decoration: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #e5e5e5;
  }
  .dropdown:hover.dropdown-menu {
    display: block;
  } */


  .dropdown {
    position: relative;
    display: inline-block;
  }
  button{
    font-size: 40px;
  }
  .dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu a {
    color: #0d31d3;
    padding: 5px 6px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown:hover .dropdown-button {
    background-color: #3e8e41;
  }
 






footer{
    margin: -10px 10px 20px;
    padding: 10px;
    width: 100%;
    border:1px solid rgb(182, 164, 164);
    background-color: lightgray;
    list-style-type: none;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: black;
}
footer h5 ,p{
    visibility: hidden;
}
footer:hover {
    background: #7a5858;
    transform: translateY(-5px);

}



.footer div nav ul li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: None;
    padding: 10px 16px;
    margin: 10px;
    
    
}


footer div img{
    display: inline;
    width: 30px;
    height: 30px;
    border-radius: 13px;
    vertical-align: middle;
}

footer div nav ul li a img{
    margin-left: 10px;
    padding: 5px;
}

span{
    float: right;
    border-radius: 10px;
    padding-bottom: 3px;
    background-color: #7a5858;
    color:white;
    cursor: pointer;
}










/* -----media queries css section for each devices---- */










/* ----for mobile---- */
@media only screen and (min-width:320px) and (max-width: 767px) {
    *{
        background-color: #fff0;
        color: #fff;
    }
    body {
      font-size: 14px;
     
    }
    header> div{
        display: flex;
        flex-wrap: wrap;
    }
    header h1{
        margin: 0;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        left: 0px;
    }
    
    .navbar-menu {
        display: none;
      }
    
      .navbar-toggle {
        display: block;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(2) {
        opacity: 0;
      }
    
      .navbar-toggle.active .toggle-icon:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    .menu-icon{
        color:white;
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
    }
    .menu-icon:hover{
        color: red;
    }
    h1{
        position: relative;
        left: 0;
        top: 25px;
        cursor: pointer;
    }
    h1:hover{
        color: white;
    }
    #logo-image{
        position: absolute;
        left: 20px;
        top: 20px;
        cursor: pointer;
    }
    .navbar{
        display: none;
    }
  }
    




  /* ----- for mobile portrait ------- */
  @media only screen and (max-width: 479px) {
    *{
        color: black ;
        background: white;
    }

.menu-icon{
    display: none;
}

    
  }









  /* -------style for the tablet  */


 @media only screen and (min-width:768px) and (max-width:991px){
    .menu-icon{
        color:white;
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
    }
    .menu-icon:hover{
        color: red;
    }
body{
    font-size: 16px;
    color: white;
    background: #7a5858;
}

.navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active .toggle-icon:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar-toggle.active .toggle-icon:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .toggle-icon:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
 }


/* ----- for the laptop and desktop browsers------  */
@media only screen and (min-width:992px){
    .menu-icon{
        display: none;
    }

}